@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";


// Create your own map
$custom-colors: (
  "warning": #8a6d3b
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// set changes
@import "bootstrap";


html { 
  font-size: 14px !important;
}

// Custom global styles to stay in-line with old bootstrap feel 
label { 
  font-weight: 700;
}